div#report {
  width: 1100px;
}

div.row.spacer {
  height: 80px;
}

div.row.data,
div.data-chart,
div.data-table {
  height: 200px;
}

div.data-table {
  overflow: scroll;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}